body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}


body, form {
    display: flex;
    align-items: center;
    background-color: rgb(34, 60, 63);
}

form {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30em;
    background-color: rgb(66, 83, 83);
    border-radius: 4px;
}

form div#formCads {
    width: 50em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    background-color: rgb(86, 124, 124);
    border-radius: 4px;
}

form div#formCads label, input {
    padding: 2%;
}

form div#formCads input {
    margin: 4px;
}

form div#formCads button {
    margin: 1em;
}

form div#formCads h2 {
    text-align: center;
}